<div class="row">
  <div class="chat col-lg-6">
    <div class="input-group">

      <div class="input-group-btn">
        <button type="button" class="person btn btn-default dropdown-toggle" data-toggle="dropdown">{{selectedPerson}} <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li class="person" ng-repeat="person in people track by $index" ng-click="selectPerson($index, person, $event)"><a href="#">{{person}}</a></li>
        </ul>
      </div>

      <input type="text" class="chatInput form-control" ng-class="{'inputActive': chatInput}" ng-model="chatInput" placeholder="Enter your words here ...">

    </div>
  </div>
</div>

