
<h1 class="title">Say Something <small>beta - AngularJS version</small></h1>

<div class="row">
  <div class="jumbotron col-lg-6">
    <div class="container">
      <div class="chatContent">
        <p ng-repeat="line in chatData | filter:search" ng-class="{loaded: line.isLoad}">{{line.name}} says: {{line.text}} <span class='time'>{{line.time}}</span></p>
      </div>
    </div>
  </div>
</div>

<div chat-form></div>

<div class="row">
  <div class="search col-lg-6">
    <input type="text" class="form-control search" ng-model="search" class="search-query" placeholder="Search All Fields">
  </div>
</div>
